* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* ------- Shared styles -------- */

h1,
h2,
h3,
h4 {
  color: #272727;
}
p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}
.red-color {
  color: #e55473;
}
/* --------- Header -------- */

.header-container {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 240px 0 240px;
}
.header-content h1 {
  font-size: 80px;
  font-weight: 800;
  width: 708px;
}
.header-content p {
  font-weight: 400;
  line-height: 30px;
  padding: 32px 0px;
  width: 634px;
}
.btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
}

/* -------- Main ------- */

.hot-deal-container {
  border-radius: 8px;

}
.hot-deal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 186px;
  padding: 100px 0;
  background-color: rgba(229, 84, 115, 0.05);

}
.hot-deal-text {
  text-align: center;
}
.hot-deal-text h2 {
  font-size: 40px;
  font-weight: 800;
}
.hot-deal-text p {
  width: 594px;
  padding-top: 24px;
  padding-bottom: 32px;
}

/* ------- Footer -------- */
